*{
  background-image: URL("Ash-Color-Plain-Wallpaper-Download.jpg");
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  color: black;
}
.logo{
  float: left;
  height:auto;
  width:auto;
}
h1{
  font-family: cursive;
  font-size: 30px;
  color: white;
  padding-top:5px;
  background-color: blue;
}
.nav ul{
  float:right;
  margin-top: 25px;
  margin-right: 5px;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a{
  color: blue;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #0020c2;
  margin: auto;
  text-decoration: none;
}
a:hover{
  background-color:#9be597;
}
h3{
  padding: 10px;
  background-color: #2b65ec;
  color:white;
  font-size: 20px;
}
.birdseye{
  padding: 5px;
  background-color: #a0cfec;
}
.hostel{
  padding: 10px;
  background-color:#306754;
}
.topic{
  font-size: auto;
  font-family: cursive;
  color: black;
  list-style-type: none;
  padding:5px;
  background-color: blue;
}
.list {
  list-style-type:none;
}
p1{
  font-style: italic;
  font-size: 25px;
}
.nav-2 ul li{
  display: inline-block;
}
.nav-2 li a{
  color: blue;
  padding: 10px;
  margin:90px;
  border: 1px solid blue;
  text-decoration: none;
}
.footer-logo{
  height: auto;
  width: auto;
  float: left;
}
nav{
  float: left;
}
p8 ul li{
  list-style-type: none;
}
p8 ul li a{
  text-decoration: none;
}
p8 ol li{
  list-style-type: none;
}
p8 ol li a{
  text-decoration: none;
}
