.container{
  background-image: URL("canvas.jpg");
  width:100%;
  height: 100%;
  margin: 0px auto;
}
.nav{
    height:100px;
    padding-right: 20px;
    margin: 5px;
  }
  .vision{
    font-family: cursive;
    background-color: #cfe2f3;
    padding: 10px 10px;
    color:blue;
    font-size: 20px;
  }
.landscape{
  background-color: #efefef;
}
p3{
  font-size: 25px;
  text-decoration: underline;
  text-shadow: none;
  color:darkblue;
}
.birdseye{
  background-color: #efefef;
}
body{

  background-image: URL("canvas.jpg");
  text-align:center;
}
.logo img{
  float:left;
  height:auto;
  width:auto;
}
.nav ul{
float:right;
list-style-type:none;
margin-top:25px;
}
.nav ul li{
display:inline-block;
}
.nav ul li a{
  text-decoration:none;
  padding:5px 25px;
  border:1px solid blue;
  color:blue;
}
.nav ul li a:hover{
  background-color:#00ff00;
  transition:0.5s;
}
p{
font-size: 20px;
text-align: center;
}
h1{
  font-family: cursive;
  color:white;
  font-size: 30px;
  background-color:#3366FF;
  font-style: normal;
}
.nav-2 ul li{
  display: inline-block;
}
.nav-2 ul li a{
  color: blue;
  padding: 10px;
  margin:90px;
  border: 1px solid blue;
  text-decoration: none;
}
.nav-2 ul li a:hover{
  background-color:#00ff00;
  transition:0.5s;
}
.footer-logo{
  height: auto;
  width: auto;
  float: left;
}
.program ul{
  font-size: 20px
}
.program ul li{
  list-style-type: none;
}
 .program ul li a{
   text-decoration: none;
   font-size: 20px;
 }
 .program ol li{
   list-style-type: none;
 }
  .program ol li a{
    text-decoration: none;
     font-size: 20px;
  }
  .address ul li{
    list-style-type: none;
    font-size: 20px;
}
.list{
  font-size: 20px;
}
.program ul li a:hover, ol li a:hover{
  background-color:#00ff00;
  transition:0.5s;
}
