//.container{
  //width:1500px;}
  .nav{
    height:80px;
  }
  .container{
background-image:url('canvas.jpg');
}

body{
  text-align:center;

}


.logo img{
  float:left;
  height:auto;
width:200px;
}


.nav ul{
float:right;
list-style-type:none;
margin-top:25px;
}
.nav ul li{
display:inline-block;
}
.nav ul li a{
  text-decoration:none;
  padding:5px 25px;
  border:1px solid green;
}

.nav ul li a:hover{
  background-color:66FF66;
  transition:0.6s;
}

.login-bx{
  margin: 50px 500px;
  width:480px;
  height:600px;
  background:#CCCC99;
  color:white;
  font-size:18px;
}

.login-bx input[type="text"]{
  width:250px;
  padding-left:85px;
  height:30px;
  color:blue;

}
h1{
  color:white;
  background-color:#3366FF;
